<div class="animated fadeIn">
  <div class="row" style="margin-bottom: 5px;">
    <div class="card" class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4 style="display: inline">
            <h3 style="display: inline">
              <span class="badge badge-secondary">Search Buses:</span>
            </h3>
            <input
              [(ngModel)]="searchPlateNumber"
              placeholder="  Enter plate number ..."
            />
          </h4>
          <h6 style="display: inline; float: right;">
            <ng-multiselect-dropdown
              [placeholder]="'Select Bus Type'"
              [data]="busTypeSelectData"
              [(ngModel)]="selectedBusTypes"
              [settings]="busSelectorSettings"
              (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <ng-container
      *ngFor="
        let bus of busListFrontend
          | busNumber: searchPlateNumber
          | busType: selectedBusTypes
          | paginate: { itemsPerPage: perPageItems, currentPage: p }
      "
    >
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-header">
            <h4>
              <span class="badge badge-pill badge-success">{{
                bus["id"]
              }}</span>
              <span class="badge badge-pill badge-primary">{{
                bus["plate"]
              }}</span>
            </h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5>Bus Type: {{ bus["type"] }}</h5>
            </li>
            <li class="list-group-item">
              <h5>
                Station Id:
                <span class="badge badge-pill badge-secondary">{{
                  bus["stationid"]
                }}</span>
              </h5>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
