<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">This is card's header - 1</div>
        <div class="card-body">This is card's body</div>
        <div class="card-footer">This is card's footer</div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">This is card's header - 2</div>
        <div class="card-body">This is card's body</div>
        <div class="card-footer">This is card's footer</div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">This is card's header - 3</div>
        <div class="card-body">This is card's body</div>
        <div class="card-footer">This is card's footer</div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">This is card's header - 4</div>
        <div class="card-body">This is card's body</div>
        <div class="card-footer">This is card's footer</div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="card">
    <div class="card-header">This is card's header</div>
    <div class="card-body">This is card's body</div>
    <div class="card-footer">This is card's footer</div>
  </div>
</div>
